body{
    margin: 0;
    display: grid;
    grid-template-areas: 'header header header header'
                        'nav nav nav nav'
                        'section section aside aside'
                        'footer footer footer footer';
    grid-template-rows: 20vh 12vh 70vh 20vh;
    /* grid-template-columns: 10vw 30vw 40vw 20vw */
    grid-gap: 10px;
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    grid-area: header;
    background-color: orangered;
    display: flex;
    justify-content: center;
}

header img{
    height: 100%;
    width: 125px;
}

nav{
    grid-area: nav;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

nav a:hover{
    color: orangered;
    
}

section{
    grid-area: section;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: section;
    padding: 0 10px;
}

section img{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    box-shadow: 11px 5px 20px 0px black;
    margin: 10px 10px 10px 10px;
}

section img:hover{
    width: 310px;
    height: 310px;
}

aside{
    grid-area: aside;
    background-color: black;
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 0 30px;
}

aside p{
    color: white;
    font-weight: lighter;
}

footer{
    grid-area: footer;
    background-color: #093b7c;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}