body{
    margin: 0;
    display: grid;
    grid-template-areas: 'header header header header'
                        'nav nav nav nav'
                        'section section aside aside'
                        'footer footer footer footer';
    grid-template-rows: 20vh 12vh 50vh 30vh;
    /* grid-template-columns: 10vw 30vw 40vw 20vw */
    grid-gap: 10px;
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    grid-area: header;
    background-color: orangered;
    display: flex;
    justify-content: center;
}

header img{
    height: 100%;
    width: 125px;
}

nav{
    grid-area: nav;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

nav a:hover{
    color: orangered;
}

section{
    grid-area: section;
    background-color: green;
}

aside{
    grid-area: aside;
    background-color: yellow;
}

footer{
    grid-area: footer;
    background-color: purple;
}